.todo-item {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.todo-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.todo-btn Button {
  margin-right: 14px;
}
